/***************
Variables
***************/

/**************
Colors
**************/

$dkblue: #101c23;
$ltgreen: #bdc8c7;
$heroblue: #3e6f9b;

/*************
Fonts
*************/
@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700|Patrick+Hand+SC');

$patrick: "Patrick Hand SC", cursive;
$comfortaa: "Comfortaa", sans-serif;
